body {
	margin: 0px;
	padding: 0px;
	background-color: pink;
	width: 100%;
	height:100%;
}

div.mainPage {
	padding: 2%;
	margin: 0 auto;
	width:100%;
	height: 100%;
	position: absolute;
}

div.taskPage {
	margin: 0 auto;
	padding: 0px;
	height: 80%;
	width: 35%;
	background-color: skyblue;/*TODO: change to an image background*/
	position: relative;
	/*TODO: add rounded border*/
}

div.titleWebApp { /*TODO: Content fixed, no overflow*/
	float: left;
	height: 50px;
	width: 80%;
	overflow: hidden;
}

div.titleWebApp h1{
	float: left;
	margin: 3px;
	padding: 3px;
}

div.titleWidgets{ /*TODO: decrease width for clickable area*/
	float: left;
	height: 50px;
	width: 20%;
}

div.titleWidgets a img{
	/*padding-left: 70%;*/
	margin-top: 8px;
}

/*TODO: search bar take up entire width*/
div#searchTextContainer{
	float: left;
	width: 70%;
}

div#searchTextContainer input#searchTextField{
	width: 100%;
}

div#searchButtonContainer{
	float: left;
	width: 30%;
}

div#searchButtonContainer input#searchButton{
	width: 100%;
}

#taskListView{
	border:1px solid;
	height: 80%;
	/*width: inherit;*/
	width: 100%;
	position: relative;
	float: left; /*otherwise starts covering up the to do h1 title and search bar*/
}

#initialToDoMessage{
	margin: 0 auto;
	padding-top: 50%;
	text-align: center;
}

#taskListView ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#taskListView ul li{
	border: 1px solid red;
	padding: 2px;
	margin: 2px;
	width: inherit;
}

#taskListView ul li.taskInactive {
	border: 1px solid red;
	opacity: 0.5;
}

p.listItemDesc{
	/*width: 10%;
	min-width: 5%;
	height: 10%;
	min-height: 2%;*/
	width: 90%;
	max-width: 90%;
	min-width: 50%;
	margin: 0px;
	padding-left: 5px;
	font-size: 12px;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipses;
}


.filterTaskContainer{
	border:1px solid yellow;
	height: 5%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	padding: 0px;
	/*text-align: justify;*/
	/*width: inherit;*/
	float: left; /*otherwise starts covering up the to do h1 title and search bar like task list ul */
}

.filterTaskContainer div{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.filterTaskContainer a{

}

.filterButtonActive{
	background-color: green;
}


div.overlayPane{
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background-color: rgba(0,0,0,5);
	opacity: 0.5;
}

div.addTaskPane{ /*make first text input autofocus*/
	visibility: hidden;
    width: 300px;
    height: 200px;
    line-height: 50px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

input#taskTitle{
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
	width: 180px;
	height: 25px;
}

div#errorMsgCont{
	padding: 1px;
	margin: 0px; 
	height: 15px;
	display: inline;
	text-align: center;
	font-size: 11px;
	word-wrap: break-word;
}

p#errorMsgHolder{

}

textarea#taskDesc{
	margin: 2px;
	padding: 2px;
	width: 180px;
}